@font-face {
    font-family: 'TimesNewRoman';
    src: url('fonts/TimesNewRoman/TimesNewRomanPSMT.eot');
    src: url('fonts/TimesNewRoman/TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),
        url('fonts/TimesNewRoman/TimesNewRomanPSMT.woff2') format('woff2'),
        url('fonts/TimesNewRoman/TimesNewRomanPSMT.woff') format('woff'),
        url('fonts/TimesNewRoman/TimesNewRomanPSMT.ttf') format('truetype'),
        url('fonts/TimesNewRoman/TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}